.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  /* font-size: 16px; */
  border: none;
  outline: none;
  color: white;
  /* padding: 14px 16px; */
  padding-left: 20px;
  padding-right: 20px;
  background-color: inherit;
}

.navbar a:hover, .dropdown:hover, .header-menu:hover {
  background-color: #1DA57A;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-content .header {
  background-color: white;
  padding: 16px;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-link {
  text-decoration: none;
  color: white;
  position: relative;
  margin: 5px;
  padding: 20px;
  width: 15%;
  height: 100px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.2);
  text-align: center;
  color: white;
  font-weight: bold;
  flex-grow: 1;
  flex-flow: space-around;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.avatar-icon .drop {
  display: block;
}

.navbar .logo {
  float: left;
  overflow: hidden;
}

@media screen and (max-width: 600px){
    .navbar-item {float: none; display: block;}
    .wrapper {font-size: 20px;}
    .navbar-item-list .navbar-toggle {display: block}
    .nav-link { width: 100%}
    .column {
      width: 100%;
      height: auto;
  }
}
