@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.flex-container {
  display: inline-flex;
  flex-flow: row wrap;
  /*justify-content: space-between;*/
  justify-content: space-around;
  align-items: stretch;
}

.flex-item {
  /*flex-grow: 1;*/
  margin: 10px;
  align-self: stretch;
  height:390px;
}

.img {
  height: 290px;
}

.item-detail {
  margin: 30px;
  width: 100%;
  /*border: 3px solid green;*/
  padding: 50px;
}

/* override css */
.slick-prev:before, .slick-next:before {
  color: #cccccc;
}
