.flex-container {
  display: inline-flex;
  flex-flow: row wrap;
  /*justify-content: space-between;*/
  justify-content: space-around;
  align-items: stretch;
}

.flex-item {
  /*flex-grow: 1;*/
  margin: 10px;
  align-self: stretch;
  height:390px;
}

.img {
  height: 290px;
}

.item-detail {
  margin: auto;
  width: 100%;
  /*border: 3px solid green;*/
  padding: 10px;
}
