.scroll {
  opacity: 0.5;
  background-color: #001529;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: none;
}
.scroll:hover {
  opacity: 0.8;
}
.arrow {
  color: white;
}
